/* =======================
   BASE DA PÁGINA
======================= */
body {
    font-family: "Segoe UI", sans-serif;
    background: #2E2E2E;
    color: #333;
    max-width: 580px;
    margin: 40px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.quadro {
    background-color: hsl(55, 90%, 90%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.subquadro {
    background-color: hsl(59, 90%, 72%);
    padding: 0.1px 10px;
    border-radius: 8px;
    box-shadow: 0 0 16px rgba(255, 255, 255, 1.2);
    margin-top: 10px;
}

.centraliza {
    text-align: center;
}

/* =======================
   TÍTULO COM LENTE
======================= */
.titulo {
    position: relative;
    display: inline-block;
    font-size: 3.5rem;
    font-family: 'Caveat', 'Pacifico', cursive;
    font-weight: bolder;
    color: #2b7a78;
    transform: rotate(-3deg);
    overflow: visible;

    /* máscara controlada pelo JS */
    --mask: circle(0px at 0 0);
}

/* TEXTO AMPLIADO (LENTE) */
.titulo::after {
    content: attr(data-text);
    position: absolute;
    inset: 0;
    color: #028d7d;
   
    -webkit-mask: var(--mask);
    mask: var(--mask);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-composite: source-over;
    mask-composite: intersect;

    opacity: 0;
    transition: opacity 0.15s ease;
    transform: scale(1.01);
    transform-origin: center center;
    pointer-events: none;


}

/* VIDRO DA LENTE */
.titulo::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;

    -webkit-mask: var(--mask);
    mask: var(--mask);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-composite: source-over;
    mask-composite: intersect;

    opacity: 0;
    transition: opacity 0.15s ease;
}

/* ativa a lente */
.titulo.lupa-ativa::after,
.titulo.lupa-ativa::before {
    opacity: 1;
}


/* animação pulse */
.pulse {
    animation: pulse 2.2s ease-out;
}

@keyframes pulse {
    0%   { transform: rotate(-3deg) scale(1); }
    50%  { transform: rotate(-3deg) scale(1.08); }
    100% { transform: rotate(-3deg) scale(1); }
}

/* =======================
   FORMULÁRIO
======================= */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input,
textarea {
    padding: 8px;
    border: 1px solid #ffbf47;
    border-radius: 6px;
    font-size: 1rem;
    resize: vertical;
}

/* botão */
button {
    background: #e79600;
    color: rgb(255, 254, 240);
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background 0.2s;
}

button:hover {
    background: #efa700;
}

/* =======================
   MENSAGENS
======================= */
.mensagens p {
    background: #fbff7d;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 8px;
}
